@model DevOps.ProjectManager.Models.Project

<div id="divMargins">
    <p>
        <h2>@Model.Name</h2>

        <p>Description: @Model.Description</p>
        <li>Status: @Model.Status.Name</li>
        <li>Last updated: @Model.DateUpdated.ToLongDateString()</li>
        <li>Date created: @Model.DateCreated.ToLongDateString()</li>
    </p>
</div>

<table style="width:100%" id="issues" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Priority</th>
            <th>Date updated</th>
            <th>Date created</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    $(document).ready(function () {
        $("#issues").DataTable({
            ajax:
            {
                url: "/api/issues/" + @Model.Id,
                    dataSrc: ""
                },
                columns:
                [
                    {
                        data: "name",
                    },
                    {
                        data: "priority.name"
                    },
                    {
                        data: "dateUpdated"
                    },
                    {
                        data: "dateCreated"
                    },
                    {
                        data: "id",
                        render:
                        function (data) {
                            return "<a href='/issues/details/" + data +"'>Details</a>";
                        }
                    }
                ]
            });
        });

    $("#issues").on("click", ".js-details", function () {
        var button = $(this);
        var issueId = button.attr("data-issue-id");
        var url = '@Url.Action("Details", "Issues")'
        url = url += issueId;

        function goToURL(url) {
            location.href = url;

        }

    });

    </script>