@using DevOps.ProjectManager.Models
@model IEnumerable<DevOps.ProjectManager.Models.Project>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects</h2>

@Html.ActionLink("New project", "New", "Projects", null, new { @class = "btn btn-primary" })
<table id="projects" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Date updated</th>
            <th>Date created</th>
            <th>Actions</th>
        </tr>
        @foreach (Project project in Model)
        {
            <tr>
                <td>@Html.ActionLink(@project.Name, "Edit", "Projects", new { @project.Id }, null)</td>
                <td>@project.Status.Name</td>
                <td>@project.DateUpdated.ToLongDateString()</td>
                <td>@project.DateCreated.ToLongDateString()</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Projects", new { @project.Id }, new { @class= "btn btn-link" })
                    @Html.ActionLink("Delete", "Delete", "Projects", new { @project.Id }, new { @class = "btn btn-link js-delete" })
                </td>
            </tr>
        }
    </thead>
</table>